@import "@blueprintjs/core/lib/scss/variables";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  padding-top: $pt-navbar-height;
}

.app {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.editor-selection {
  display: flex;
  flex-direction: row;
}

.editor-selector-button {
  padding: 1em 1em 1em 1em;
}

.display-area {
  width: 100%;
  height: calc(100% - $pt-navbar-height);
  margin: 0;
  background-color: $pt-app-background-color;

  position: absolute;
  top: $pt-navbar-height;

  .#{$ns}-dark & {
    background-color: $pt-dark-app-background-color;
  }
}

.get-started-callout {
  max-width: 250px;
  padding: 15px;
  p {
    margin-bottom: 0;
  }
}
